{
    "extends": "airbnb-base",
    "rules": {
        "consistent-return":"off",
        "prefer-destructuring":"off",
        "no-shadow":"off",
        "no-unused-vars":"off",
        "max-len":"off"
    }
}